---
layout: archive
title: "Repositories"
permalink: /portfolio/
author_profile: true
---

<div id="github-projects"></div>

<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="/scripts/github.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    $("#github-projects").loadRepositories("andrewdavey");
  });
</script>


{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

